html, body {
  margin: 0px;
  height: 100%;
  /*https://www.magicpattern.design/tools/css-backgrounds*/
background-color: #000000;
opacity: 1;
background-image:  linear-gradient(#111111 1.8px, transparent 1.8px), linear-gradient(90deg, #111111 1.8px, transparent 1.8px), linear-gradient(#111111 0.9px, transparent 0.9px), linear-gradient(90deg, #111111 0.9px, #000000 0.9px);
background-size: 45px 45px, 45px 45px, 9px 9px, 9px 9px;
background-position: -1.8px -1.8px, -1.8px -1.8px, -0.9px -0.9px, -0.9px -0.9px;

}

#main {
  width: 50%;
  max-width: 1200px;
  border-radius: 30px;
}

#container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#settings {
  position: fixed;
  height: 20%;
  width: 100%;
  overflow-y: auto;
  bottom: 0px;
  background-color: black;
  color: white;
  text-align: center;
}
#settings-inner {
  padding:  20px;
}
#settings ul {
  padding: 0;
  margin: 0;
}
#settings li {
  list-style: none;
  margin-bottom: 5px;
}

#settings-btn {
  bottom:  10px;
  left:  10px;
}
#info-btn {
  top:  10px;
  right:  10px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  width: 70px;
  height: 70px;
}
.btn img {
  width: 65px;
  height: 65px;
}
.btn.small {
  width: 45px;
  height: 45px;
}
.btn.small img {
  width: 40px;
  height: 40px;
}

.btn img:hover {
  width:  100%;
  height:  100%;
}

#x {
  position: absolute;
  top: 10px;
  right: 10px;
}


#auto-container {
  display: none;
}